body {
  font-size: 16px;
  color: #000;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #787777;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
  height: 70px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Oxygen', sans-serif;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin: 10px;
}
#nav-list a {
  color: #000;
  text-align: center;
  padding-top: 0;
  padding-bottom: 20px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 0.5em;
}

.navbar-header button.navbar-toggle, .navbar-header {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both; 
  margin-top: -30px;
}

/* END HEADER */

/* Body */

header {
  font-size: 1.75em;
}

section div{
  border: solid 1px black;
  background-color: #787777;
  padding: 20px;
  margin: 40px;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
 
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  
  #collapsable-nav a span {
       /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

}
